{{! loop each blog post }}
<div class="h1div">
  <h1>Your Dashboard</h1>
</div>

{{#each blogs}}
  <section class="dashboard">
    <div
      class="d-flex flex-row justify-content-between align-items-center dashboard-post"
    >
      <h2> <a href="/dashboard/edit/{{this.id}}">{{this.title}}</a></h2>
      <p>Posted on {{format_date created_at}}</p>
    </div>
  </section>
{{/each}}

<footer class="footer flex-row justify-center">
  <a href="/dashboard/new">➕ New Post</a>
</footer>