<div class="container mt-5">
  <section class="login">
    <div class="d-flex align-items-center login-header">
      <h2>Create New Blog</h2>
    </div>
    <form class="m-3" id="new-blog-form">
      <div class="mt-3 mb-3">
        <label for="blog-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="blog-title" />

      </div>
      <div class="mb-3">
        <label for="blog-content" class="form-label">Description</label>
        <textarea class="form-control" id="blog-content"></textarea>

      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-secondary">Create</button>

      </div>

    </form>

  </section>
</div>
<script src="/js/new.js"></script>